:root{
    --color_1: #009e00;
    --color_2: #eeeeee6b;
    --color_3: #eeeeee9f;
}

@font-face {
    font-family: "yekan";
    src: url(../assets/font/Yekan.ttf);
}

@font-face {
    font-family: "arl";
    src: url(../assets/font/ARLRDBD.TTF);
}

body{
    direction: rtl;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "nav nav"
    "side_bar header"
    "side_bar main"
    "footer footer";
    font-family: "yekan", "arl";
    font-size: 20px;
    overflow-x: hidden;
    background-image: url(../assets/image/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    gap: 10px;
}

.product_body{
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "nav nav"
    "side_bar main"
    "footer footer";
}

p, a{
    font-size: 24px;
}


p, span, h1, h2{
    user-select: none;
}

h1, h2{
    text-wrap: nowrap;
}

div{
    box-sizing: border-box;
}

nav{
    grid-area: nav;
    width: 100%;
    height: 100%;
    background-color: var(--color_3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    overflow: hidden;
    box-shadow: 1px 0px 10px 1px #000000;
}

header{
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.side_bar{
    grid-area: side_bar;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-right: 0px;
    border-radius: 30px 0px 0px 30px;
    background-color: var(--color_2);
}

main{
    grid-area: main;
    width: 100%;
    height: 100%;
}

footer{
    grid-area: footer;
    width: 100%;
    height: 100%;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav img{
    width: 50px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--color_1);
    border-radius: 25px;
    padding: 0px 45px;
    box-shadow: 0px 0px 5px #000000;
}

nav .a_holder{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 1vw;
    flex-wrap: wrap;
}

nav .a_holder a, .buy-btn, .product_i a{
    padding: 5px 15px;
    background-color: var(--color_1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000000;
    transition: 0.5s;
    margin: 5px 1.5vw;
    width: fit-content;
}

.title h1{
    margin: 0px;
}

nav .a_holder a:hover, .best_sale a:hover, .buy-btn:hover, .product_i a:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 3px #000000;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: #000000;
}

.welcome{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color_2);
    padding: 0px 10px;
}

.welcome h1{
    background-color: var(--color_1);
    padding: 5px 10px;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 0px 0px 5px 2px #000000;
}

.main_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.main_box div{
    background-color: var(--color_1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 150px;
    margin-bottom: 5px;
    padding: 0px 7.5vw;
}

.main_box div h2{
    margin: 5px;
}

.line{
    width: 85%;
    height: 2px;
    background-color: var(--color_1);
    box-shadow: 0px 0px 5px 2px var(--color_1);
    margin: 10px;
}

.sb_button{
    display: none;
}

.sb_button i{
    font-size: 30px;
}



.best_sale{
    width: 320px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0px 5px;
    background-color: var(--color_2);
    border-radius: 10px;
}

.best_sale img{
    width: 300px;
    border-radius: 10px;
}

.best_sale .price_texts{
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.best_sale .price{
    text-decoration: line-through;
}

.best_sale p{
    margin: 5px 0px;
}

.best_sale a{
    padding: 5px 15px;
    background-color: var(--color_1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000000;
    transition: 0.5s;
    margin: 5px 5%;
}

.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    position: relative;
}

.search_input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    margin-right: 5px;
    background-color: var(--color_3);
}

.search_icon{
    background-color: var(--color_1);
    border-radius: 100%;
    padding: 5px;
    width: 32px;
    height: 32px;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.search_icon:hover{
    background-color: var(--color_2);
}

.search_label{
    position: absolute;
    top: 2px;
    right: 15px;
    pointer-events: none;
    transition: 0.5s;
}

.r_s_form input:focus ~ label,
.r_s_form input:not(:placeholder-shown) ~ label,
.search_input:focus ~ .search_label,
.search_input:not(:placeholder-shown) ~ .search_label{
    top: -15px;
    right: 20px;
    text-shadow:
        2px 0 0 #ffffff,
        -2px 0 0 #ffffff,
        0 2px 0 #ffffff,
        0 -2px 0 #ffffff,
        1px 1px 0 #ffffff,
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff;
}

.genres_list, .links ul{
    list-style-type: none;
    padding-right: 20px;
}

.profile img{
    width: 100px;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about_us_body main, .answers{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.r_s_body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
}

.r_s_section{
    width: 325px;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px #222222;
    gap: 5px;
    background-color: var(--color_2);
    margin-top: 25px;
}

.r_s_body nav{
    height: auto;
}

.r_s_form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.r_s_form div{
    position: relative;
}

.r_s_form label{
    position: absolute;
    top: 0px;
    right: 5px;
    pointer-events: none;
    transition: 0.5s;
}

.r_s_form input{
    height: 25px;
    width: 225px;
    font-size: 18px;
    font-family: "arl";
    direction: ltr;
    border: 3px solid;
    border-radius: 10px;
}

.r_s_form button{
    font-size: 18px;
    background-color: var(--color_1);
    border-radius: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.r_s_form button:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px #000000;
}

.r_s_section a, .sb_content a{
    border-radius: 25px;
    padding: 0px 15px;
    transition: 0.5s;
}

.r_s_section a:hover, .sb_content a:hover{
    color: #ffffff;
    background-color: var(--color_1);
}

.first_text{
    background-color: #4bb105;
}

.second_text{
    background-color: #388a04;
}

.third_text{
    background-color: #286605;
}

.about_us_body main, .answers{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

.about_us_body main div, .answers p{
    width: 80%;
    border-radius: 100px;
    padding: 10px 25px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px dashed #000000;
}

.error_box{
    display: none;
    position: absolute;
    transform: translate(0%, 100%);
    bottom: 0px;
    width: 100%;
    background-color: #e00000;
    color: #ffffff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.finish_box{
    display: none;
    position: absolute;
    transform: translate(0%, 100%);
    bottom: 0px;
    width: 100%;
    background-color: var(--color_1);
    color: #ffffff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.r_s_section{
    transition: 0.5s;
}

.genres_a_holder a{
    width: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #222222;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.genres_a_holder a:hover{
    transform: scale(1.1);
}

.genres_a_holder{
    width: fit-content;
    border-radius: 10px;
    background-color: var(--color_2);
    display: flex;
    gap: 10px;
    padding: 25px 5vw;
}

.games main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.p_c_holder{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
}

.p_slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    gap: 20px;
    height: 400px;
    overflow-y: hidden;
}

.product{
    position: relative;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_2);
    border-radius: 10px;
    transition: 0.5s ease;
}

.product:hover{
    scale: 1.08;
}

.product img{
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.product p{
    direction: ltr;
}

.index_body .games_p .products_i{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 99%;
}

.index_body .games_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 99%;
}

.product_i{
    position: relative;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_2);
    border-radius: 10px;
    transition: 0.5s ease;
    margin: auto;
}

.product_i:hover{
    scale: 1.08;
}

.product_i p{
    direction: ltr;
}

.product_i img{
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.p_img{
    width: 20vw;
    height: 12vw;
    object-fit: cover;
}

.product_body main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_page{
    background-color: var(--color_2);
    border-radius: 25px;
    padding: 25px;
}

.p_main_info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.p_main_texts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.p_main_texts h2{
    margin: 0px;
}

.p_main_info select{
    font-size: 20px;
    font-family: "yekan";
    margin: 10px 0px;
    padding: 0px 20px;
    background-color: var(--color_1);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000000;
    transition: 0.5s ease;
}

.p_main_info select:hover{
    box-shadow: 0px 0px 5px 3px #000000;
    scale: 1.08;
}

.p_main_texts .buy-btn{
    margin: 0px;
}

.buy_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 5vw 0px 0px;
}

@media (max-width: 930px){
    nav{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: relative;
    }

    .best_sale{
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .side_bar{
        position: absolute;
        top: 115px;
        right: -200px;
    }

    #side_bar{
        transition: 1s right;
        width: fit-content;
        background-color: #eeeeee;
    }

    .open_sb{
        position: absolute;
        top: 115px;
        right: 0px;
        height: fit-content;
    }

    .sb_button{
        display: inherit;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .best_sale .price_texts{
        width: 300px;
    }

    nav .a_holder{
        width: fit-content;
    }
    
    .side_bar, .open_sb{
        top: 165px;
    }

    .sb_button{
        right: 5px;
    }
}

@media (max-width: 385px) {
    .r_s_section{
        width: 300px;
        padding: 0px;
    }
}